templates/Transform-Load-Pipeline/Transform-Load-Pipeline.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"AzureDataLakeStorage1": {
			"type": "string"
		},
		"AzureSqlDatabase1": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Transform-Load-Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BronzeToSilverDataFlow",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:15:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Transformation_Dataflow",
								"type": "DataFlowReference",
								"datasetParameters": {
									"Sales": {
										"Container": {
											"value": "@pipeline().parameters.SourceContainer",
											"type": "Expression"
										},
										"FileName": {
											"value": "@pipeline().parameters.FileName1",
											"type": "Expression"
										}
									},
									"Product": {
										"Container": {
											"value": "@pipeline().parameters.SourceContainer",
											"type": "Expression"
										},
										"FileName": {
											"value": "@pipeline().parameters.FileName2",
											"type": "Expression"
										}
									},
									"Category": {
										"Container": {
											"value": "@pipeline().parameters.SourceContainer",
											"type": "Expression"
										},
										"FileName": {
											"value": "@pipeline().parameters.FileName3",
											"type": "Expression"
										}
									},
									"Geography": {
										"Container": {
											"value": "@pipeline().parameters.SourceContainer",
											"type": "Expression"
										},
										"FileName": {
											"value": "@pipeline().parameters.FileName4",
											"type": "Expression"
										}
									},
									"SalesRep": {
										"Container": {
											"value": "@pipeline().parameters.SourceContainer",
											"type": "Expression"
										},
										"FileName": {
											"value": "@pipeline().parameters.FileName5",
											"type": "Expression"
										}
									},
									"SubCategory": {
										"Container": {
											"value": "@pipeline().parameters.SourceContainer",
											"type": "Expression"
										},
										"FileName": {
											"value": "@pipeline().parameters.FileName6",
											"type": "Expression"
										}
									},
									"SilverSink": {
										"Container": {
											"value": "@pipeline().parameters.SinkContainer",
											"type": "Expression"
										}
									}
								}
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "CopySilverToGold",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "BronzeToSilverDataFlow",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:15:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "FinalTransformedFile.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SaleID",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "SaleID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ProductID",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ProductName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductName",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CategoryID",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "CategoryID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CategoryName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CategoryName",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SubCategoryID",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubCategoryID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SubCategoryName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubCategoryName",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "GeographyID",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "GeographyID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Region",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SalesRepID",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "SalesRepID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SalesRepName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SalesRepName",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Amount",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "Amount",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Date",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourcenSinkADLS_CSV_DS",
								"type": "DatasetReference",
								"parameters": {
									"Container": {
										"value": "@pipeline().parameters.SilverContainer",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourcenSinkADLS_CSV_DS",
								"type": "DatasetReference",
								"parameters": {
									"Container": {
										"value": "@pipeline().parameters.GoldContainer",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "CopyGoldToSQLDB",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySilverToGold",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:15:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "FinalTransformedFile.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "Truncate Table Final_Sales_Data;",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourcenSinkADLS_CSV_DS",
								"type": "DatasetReference",
								"parameters": {
									"Container": {
										"value": "@pipeline().parameters.GoldContainer",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlSinkDS",
								"type": "DatasetReference",
								"parameters": {
									"TableName": {
										"value": "@pipeline().parameters.SinkTableName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"SourceContainer": {
						"type": "string",
						"defaultValue": "bronze"
					},
					"SinkContainer": {
						"type": "string",
						"defaultValue": "silver"
					},
					"FileName1": {
						"type": "string",
						"defaultValue": "Sales_2023.csv"
					},
					"FileName2": {
						"type": "String",
						"defaultValue": "Products.csv"
					},
					"FileName3": {
						"type": "string",
						"defaultValue": "data_135ac180-99cc-4000-ba39-49d0ad52ff0f_4de9dcb7-997e-4e95-8a87-a2a2835b91f9.csv"
					},
					"FileName4": {
						"type": "string",
						"defaultValue": "data_135ac180-99cc-4000-ba39-49d0ad52ff0f_09099f2f-12ce-47d6-9f9e-b299d119cb4e.csv"
					},
					"FileName5": {
						"type": "string",
						"defaultValue": "data_135ac180-99cc-4000-ba39-49d0ad52ff0f_8dfff9dc-8ba0-47a3-8628-e9c36fb1ff51.csv"
					},
					"FileName6": {
						"type": "string",
						"defaultValue": "data_135ac180-99cc-4000-ba39-49d0ad52ff0f_cc464ea8-fbd6-4563-8a03-ceb5009c926c.csv"
					},
					"SilverContainer": {
						"type": "string",
						"defaultValue": "silver"
					},
					"GoldContainer": {
						"type": "string",
						"defaultValue": "gold"
					},
					"SinkTableName": {
						"type": "string",
						"defaultValue": "Final_Sales_Data"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Transformation_Dataflow')]",
				"[concat(variables('factoryId'), '/datasets/SourcenSinkADLS_CSV_DS')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlSinkDS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Transformation_Dataflow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "AdlsSourceBronzeDSDF",
								"type": "DatasetReference"
							},
							"name": "Sales"
						},
						{
							"dataset": {
								"referenceName": "AdlsSourceBronzeDSDF",
								"type": "DatasetReference"
							},
							"name": "Product"
						},
						{
							"dataset": {
								"referenceName": "AdlsSourceBronzeDSDF",
								"type": "DatasetReference"
							},
							"name": "Category"
						},
						{
							"dataset": {
								"referenceName": "AdlsSourceBronzeDSDF",
								"type": "DatasetReference"
							},
							"name": "Geography"
						},
						{
							"dataset": {
								"referenceName": "AdlsSourceBronzeDSDF",
								"type": "DatasetReference"
							},
							"name": "SalesRep"
						},
						{
							"dataset": {
								"referenceName": "AdlsSourceBronzeDSDF",
								"type": "DatasetReference"
							},
							"name": "SubCategory"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AdlsSinkSilverDSDF",
								"type": "DatasetReference"
							},
							"name": "SilverSink"
						}
					],
					"transformations": [
						{
							"name": "Join1"
						},
						{
							"name": "join2"
						},
						{
							"name": "join3"
						},
						{
							"name": "join4"
						},
						{
							"name": "join5"
						},
						{
							"name": "SelectColumns"
						},
						{
							"name": "FilterSaleID"
						},
						{
							"name": "PartitionByWindow"
						}
					],
					"scriptLines": [
						"source(output(",
						"          SaleID as integer,",
						"          Date as date,",
						"          ProductID as integer,",
						"          CategoryID as integer,",
						"          SubCategoryID as integer,",
						"          SalesRepID as integer,",
						"          GeographyID as integer,",
						"          Amount as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> Sales",
						"source(output(",
						"          ProductID as integer,",
						"          ProductName as string,",
						"          CategoryID as integer,",
						"          SubCategoryID as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> Product",
						"source(output(",
						"          CategoryID as integer,",
						"          CategoryName as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> Category",
						"source(output(",
						"          GeographyID as integer,",
						"          Country as string,",
						"          Region as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> Geography",
						"source(output(",
						"          SalesRepID as integer,",
						"          SalesRepName as string,",
						"          Region as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> SalesRep",
						"source(output(",
						"          SubCategoryID as integer,",
						"          SubCategoryName as string,",
						"          CategoryID as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> SubCategory",
						"Sales, Product join(Sales@ProductID == Product@ProductID,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     partitionBy('hash', 1),",
						"     broadcast: 'auto')~> Join1",
						"Join1, Category join(Sales@CategoryID == Category@CategoryID,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     partitionBy('hash', 1),",
						"     broadcast: 'auto')~> join2",
						"join2, Geography join(Sales@GeographyID == Geography@GeographyID,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     partitionBy('hash', 1),",
						"     broadcast: 'auto')~> join3",
						"join3, SalesRep join(Sales@SalesRepID == SalesRep@SalesRepID,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     partitionBy('hash', 1),",
						"     broadcast: 'auto')~> join4",
						"join4, SubCategory join(Sales@SubCategoryID == SubCategory@SubCategoryID,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     partitionBy('hash', 1),",
						"     broadcast: 'auto')~> join5",
						"join5 select(mapColumn(",
						"          SaleID,",
						"          ProductID = Sales@ProductID,",
						"          ProductName,",
						"          CategoryID = Sales@CategoryID,",
						"          CategoryName,",
						"          SubCategoryID = Sales@SubCategoryID,",
						"          SubCategoryName,",
						"          GeographyID = Sales@GeographyID,",
						"          Region = Geography@Region,",
						"          Country,",
						"          SalesRepID = Sales@SalesRepID,",
						"          SalesRepName,",
						"          Amount,",
						"          Date",
						"     ),",
						"     partitionBy('hash', 1),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectColumns",
						"PartitionByWindow filter(!isNull(SaleID) && rn == 1,",
						"     partitionBy('hash', 1)) ~> FilterSaleID",
						"SelectColumns window(over(SaleID),",
						"     asc(Date, true),",
						"     rn = rowNumber()) ~> PartitionByWindow",
						"FilterSaleID sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['FinalTransformedFile.csv'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> SilverSink"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AdlsSourceBronzeDSDF')]",
				"[concat(variables('factoryId'), '/datasets/AdlsSinkSilverDSDF')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourcenSinkADLS_CSV_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureDataLakeStorage1')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": {
							"value": "@dataset().Container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlSinkDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureSqlDatabase1')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AdlsSourceBronzeDSDF')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureDataLakeStorage1')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "string"
					},
					"FileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "DataFlowDS"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().Container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AdlsSinkSilverDSDF')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureDataLakeStorage1')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "string"
					}
				},
				"folder": {
					"name": "DataFlowDS"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": {
							"value": "@dataset().Container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		}
	]
}